
.contenu {
    /*margin : 0px 0px 0px 150px;/
    /*background-repeat : repeat;*/
    /*width : auto;
	min-height:300px;*/
	/*float:right;*/
	background-color:#FFFFFF;
	/*border-left:2px  solid  #6B6FB3;
	border-top:2px  solid  #6B6FB3;
	border-bottom:2px  solid  #6B6FB3;*/
}

.obligatoire {
	background-color: #fac98f;
}

.numerique {
	text-align : right;
}


.popup_operation {
    width: 580px;
}


/************************************************
 * bug jquery
 ************************************************/
.ui-autocomplete {
	z-index: 1500;
}


.cumul
{
	/*background-color:#20ff80;*/
	display:none;
}